*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    padding: 10px 0px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row !important;
    gap: 20px;
    color: black;
}
.container > .container-item{
    padding: 20px 0px;
    flex-basis: 50%;
    height: 100%;
}
.container > .container-item1{
    padding-left: 6%;
    flex-basis: 50%;
    height: auto;
}
.container > .container-item1 > p.heading{
    font-size: 4vw;
    padding-bottom: 20px;
    color: brown;
}
.container > .container-item1 > form{
    width: 100%;
    height: 75%;
}
.container > .container-item1 > form > label, input, button{
    width: 70%;
    height: 40px;
    padding: 10px 0px;
}
.container > .container-item1 > form > input{
    padding-bottom: 20px;
}
.container > .container-item1 > form > p{
    width: 70%;
    font-size: 0.9vw;
    padding: 5px 0;
}
.container > .container-item1 > form > .password-container > .inp{
    position: relative;
}
.container > .container-item1 > form > .password-container > .toogle{
    position: absolute;
    right: 65%;
    top: 43%;
    text-decoration: none;
    cursor: pointer;
    color: blue;
}
.container > .container-item1 > form > button{
    border-radius: 25px;
    font-size: 1.2vw;
    border: 1px solid lightgrey;
    background-color: #fff;
}
.container > .container-item1 > form > button.button2{
    border-radius: 25px;
    font-size: 1.2vw;
    border: 1px solid grey;
    background-color: #fff;
}
.container > .container-item1 > form > button.submit{
    border-radius: 25px;
    border: none;
    color: #fff;
    background-color: blue;
}
.container > .container-item1 > form > h2{
    width: 70%; 
    text-align: center; 
    border-bottom: 1px solid grey; 
    line-height: 0.1em; 
}
.container > .container-item1 > form > h2 span{
    background:#fff;
    color: grey; 
    font-size: 1vw;
    padding:0 10px; 
}
a{
    text-decoration: none;
}
.container >.container-item > img{
    width: 100%;
}